<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0-beta.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/download/frontend.css">
<div class="download-builder">
	<form action="{{action}}" method="POST">
		<div class="download-builder-header">
			<h2>Version</h2>
			<p class="component-title">{{pkg.version}}</p>
		</div>
		<div class="components">
			<div class="download-builder-header">
				<h2>Components</h2>
			</div>
			{{#each categories}}
				<fieldset class="ui-widget ui-widget-content">
					<div>
						<div class="component-group-desc">
							<h3>{{name}}</h3>
							<p>{{description}}</p>
						</div>
						<div class="component-group-list">
						{{#each components}}
							<label title="{{description}}">
								<div>
									<input type="checkbox" checked name="{{name}}" class="ui-widget-content" data-dependencies="{{dependencies}}">
									<span class="component-title">{{title}}</span>
									<span class="component-desc">{{description}}</span>
								</div>
							</label>
						{{/each}}
						</div>
					</div>
				</fieldset>
			{{/each}}
		</div>
		<input type="submit" class="ui-widget-content" value="Download">
	</form>
</div>
<script src="http://code.jquery.com/jquery-1.7.2.js"></script>
<script src="/resources/download/frontend.js"></script>
