<div class="theme-group clearfix" id="global-corners">
	<div class="theme-group-header state-default">
		<span class="arrow-icon icon-triangle-1-e">Collapse</span>
		<a href="#">Corner Radius</a>
	</div><!-- /theme group header -->
	<div class="theme-group-content corner-bottom clearfix">
		<div class="field-group field-group-corners clearfix">
			<label for="cornerRadius">Corners:</label>
			<input type="text" value="{{cornerRadius}}" name="cornerRadius" id="cornerRadius" class="cornerRadius" />
		</div>
		<p id="cornerWarning"><em><strong>Note:</strong> ThemeRoller uses CSS3 border-radius for corner rounding, which is not supported by Internet Explorer 7 or 8.</em></p>
	</div><!-- /theme group content -->
</div><!-- /theme group -->

