<div class="application">
	<div id="themeHeader">
		<h1>ThemeRoller</h1>
	</div>
	<div id="rollerTabs">
		<ul id="rollerTabsNav" class="clearfix corner-top">
			<li class="state-default ui-tabs-selected corner-top"><a href="#rollYourOwn" class="rollYourOwn">Roll Your Own</a></li>
			<li class="state-default corner-top"><a href="#themeGallery" class="themeGallery">Gallery</a></li>
			<li class="state-default corner-top"><a href="#help" class="themeGallery">Help</a></li>
		</ul>
		<div id="rollYourOwn"></div><!-- /rollYourOwn -->
		{{{themegallery}}}
		{{{help}}}
	</div><!-- /rollerTabs -->
</div><!-- /themeroller -->
