<div id="help">

	<h2>Using ThemeRoller</h2>
	<p>ThemeRoller allows you to design custom jQuery UI themes for tight integration in your projects. To create a custom theme, select the <a href="#rollYourOwn">Roll your own tab</a> and tweak the settings. As you work, the UI components to the right will update to reflect your design and you can download your theme whenever you like.</p>
	<p>If you'd like to use a pre-designed theme, select the <a href="#themeGallery">Theme Gallery tab</a> and choose from one of the themes in the gallery. You can choose to download or customize any theme from there. To save a theme for later, simply bookmark or copy the URL.</p>

	<h2><span class="icon ui-icon-gear"></span>Plugin Developers</h2>
	<p>jQuery UI is driven by a powerful custom CSS framework. The framework is designed to be used not only for our own jQuery UI components, but for custom UI widget development as well! Visit the jQuery UI documentation to <a href="http://api.jqueryui.com/category/theming/">learn more about the new jQuery UI CSS Framework.</a></p>
</div><!-- /help -->
