<link rel="stylesheet" href="http://code.jquery.com/ui/{{resources.jqueryuiVersion}}/themes/smoothness/jquery-ui.css">
{{#if production}}
	<link rel="stylesheet" href="/resources/external/farbtastic.css">
	<link rel="stylesheet" href="/resources/themeroller.css">
{{else}}
	<link rel="stylesheet" href="/external/farbtastic.css">
	<link rel="stylesheet" href="/app/themeroller.css">
{{/if}}
<div id="themeroller" data-base-vars="{{baseVars}}" data-download-jqueryui-host="{{host}}" data-lzma-worker="{{lzmaWorker}}" data-textures="{{textures}}" class="content">
	<div id="application-content" class="clearfix">
		<div class="mask-area">
			<div class="mid-area">
				<div class="right-area">
					<div class="app-area">
						{{{appinterface}}}
						<div id="demo-options"><input type="checkbox" name="reverse-background" id="reverse-background"> <label for="reverse-background">Reverse page background color</label></div>
					</div>
					<div class="components-b-area">
						{{{compGroupB}}}
					</div>
					<div class="components-a-wrap">
						<div class="components-a-pad">
							<div class="components-a-area">
								{{{compGroupA}}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="http://code.jquery.com/ui/{{resources.jqueryuiVersion}}/jquery-ui.min.js"></script>
{{#if production}}
	<script src="/resources/themeroller.all.min.js"></script>
{{else}}
	<script src="/external/event_emitter.min.js"></script>
	<script src="/external/handlebars.runtime.js"></script>
	<script src="/template/themeroller.js"></script>
	<script src="/external/farbtastic.js"></script>
	<script src="/external/lzma.js"></script>
	<script src="/app/hash.js"></script>
	<script src="/app/querystring.js"></script>
	<script src="/app/model.js"></script>
	<script src="/app/themeroller.js"></script>
{{/if}}
