/* jqueryui.com site overrides for TR */
#themeroller {
	position: relative;
}

#themeroller-content {
	float: left;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

#themeroller-content h1 {
	text-align: center;
	font: 700 36px/36px "klavika-web","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
	letter-spacing: -1px;
}

#themeroller-content h2,
#themeroller-content h3,
#themeroller-content h4,
#themeroller-content h5,
#themeroller-content h6 {
	font-family: inherit !important;
}

#themeroller-content * {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

#themeroller-content p {
	margin: 1em 0;
}

#themeroller-content form {
	padding: 0;
}

#themeroller-content input[type="text"],
#themeroller-content textarea {
	margin: 0;
	min-width: 0;
	padding: 0;
}

#themeroller-content .ui-spinner-input {
	border: none;
	box-shadow: none;
}

/* TR application styles */
.themeroller__app-area {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	position: absolute;
	width: 224px;
	z-index: 2;
}
.themeroller__demo-area {
	margin-left: 244px; /* 224px + 20px */
	padding-right: 20px;
	z-index: 1;
}
@media all and (max-width: 800px) {
	.themeroller__app-area {
		float: none;
	}
	.themeroller__demo-area {
		margin-left: 0;
		padding-left: 20px;
	}
}

/* hide elements if js is avail */
.js .theme-group-content, .js #submitBtn, .js select.texture, .js #themeGallery, .js #help {
	display: none;
}

#themeroller .application  {
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	background: #000;
	width: 214px;
	padding: 0 4px 4px 4px;
	color: #fff;
	border: 1px solid #222;
	position: relative;
	float: left;
}
#themeHeader h1 { /* logo */
	font-size: 1.5em;
	color: #fff;
	font-weight: normal;
	width: 213px;
	height: 46px;
	margin: 0 0 -1px 0;
	padding: 0;
	text-indent: -999999px;
	overflow: hidden;
	background: transparent url("images/themeroller/logo_themeRoller_sml.gif") -5px 0 no-repeat;
}

/* corner radius in TR app elements */
#themeroller .application,
#themeroller .application .corner-all,
#themeroller .application input,
#themeroller .application select,
#themeGallery a.download,
#themeGallery a.edit,
.texturePicker,
.farbtastic {
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
}
#themeroller .application .corner-bottom {
	-moz-border-radius-bottomleft: 4px !important;
	-webkit-border-bottom-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	-moz-border-radius-bottomright: 4px !important;
	-webkit-border-bottom-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
#themeroller .application .corner-top {
	-moz-border-radius-topleft: 4px !important;
	-webkit-border-top-left-radius: 4px !important;
	border-top-left-radius: 4px !important;
	-moz-border-radius-topright: 4px !important;
	-webkit-border-top-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
}
#themeroller .application form {
	margin: 10px 0;
	clear: both;
}
#themeroller .application fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	clear: both;
	display: block;
}
#themeroller .arrow-icon,
#downloadTheme .download-icon {
	width: 16px; height: 16px;
	display: block;
	text-indent: -999999px;
	overflow: hidden;
}


/* tabs colors, texture */
#themeroller .application #rollerTabsNav {font-size: 1em; border: 1px solid #222222/* borderColorHeader */; background: #000000 url("images/themeroller/bg_tr_tabs.png") 0 50% repeat-x; color: #222222/* fcHeader */; font-weight: bold !important; border-bottom: 0; margin: 0; list-style: none;}
#themeroller .application #rollerTabsNav .widget-header a { color: #222222/* fcHeader */; }
#themeroller .application #rollerTabsNav li { float: left; border: 1px solid #000000/* borderColorDefault */; background: #333333 url("images/themeroller/bg_tr_tabs_tab.png") 0 50% repeat-x; font-weight: normal/* fwDefault */; color: #dddddd/* fcDefault */ !important; }
#themeroller .application #rollerTabsNav li a { color: #dddddd/* fcDefault */; text-decoration: none; }
#themeroller .application #rollerTabsNav li.state-hover { border: 1px solid #000000/* borderColorHover */; background: #333333 url("images/themeroller/bg_tr_tabs_tab_hover.png") 0  50% repeat-x; font-weight: normal/* fwDefault */; color: #ffffff/* fcHover */ !important; }
#themeroller .application #rollerTabsNav li.state-hover a { color: #ffffff/* fcHover */; text-decoration: none; }
#themeroller .application #rollerTabsNav li.ui-tabs-active { border: 1px solid #111111/* borderColorActive */; border-bottom: #000; background: #000 ; font-weight: normal/* fwDefault */; color: #ffffff/* fcActive */ !important; outline: none; }
#themeroller .application #rollerTabsNav li.ui-tabs-active a { color: #ffffff/* fcActive */; outline: none; text-decoration: none; }
#themeroller .application #rollerTabsNav li, #themeroller .application #rollerTabsNav li.ui-tabs-active {padding: 0.2em .3em;  }


/* TR Tabs structure */
#rollerTabs {padding: 2px; margin: 0; font-size: 1em !important; background: none; border: none; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
#rollerTabsNav { padding: .2em .2em 0 .2em;  position: relative; }
#rollerTabsNav li { float: left; border-bottom: 0; margin-right: .1em; margin-bottom: 0; padding: 0; }
#rollerTabsNav li.ui-tabs-active { position: relative; z-index: 10; }
#rollerTabsNav li a { display:block; text-decoration: none; padding: .4em .55em; margin:0; position: relative; }
#rollerTabsNav li.ui-tabs-active { padding-bottom: 1px; margin-bottom: -1px; }
#rollYourOwn, #themeGallery { clear:left; padding: 20px 0;  display: block;  }
#rollerTabs .ui-tabs-panel { display: block !important;color: #fff; border: 0 !important; background: none !important; }
#rollerTabs *[role="tabpanel"][aria-hidden="true"] { display: none !important; }


/* Download Theme button */
#downloadTheme  {
	background: #fa9300 url("images/themeroller/bg_download_btn.png") repeat-x scroll 0 50%;
	color:#222;
	border: 1px solid #111;
	padding: 0.3em 1.8em 0.4em 2.8em;
	position: relative;
	text-decoration: none;
	clear: both;
	float: left;
	margin: -2px 0 14px 0;
}
#downloadTheme .download-icon {
	background-image: url("images/themeroller/tr_icons_white.png");
	background-position: -128px -192px;
	position: absolute;
	top: 50%;
	left: .5em;
	margin-top: -8px;
}
#downloadTheme:hover {
	background:#faae00 url("images/themeroller/bg_download_btn_hover.png") repeat-x scroll 0 50%;
	color: #000;
	border-color: #000;
}
#legacyMsg {
	margin: 20px 0;
	font-size: 1em;
}
#downloadLegacyTheme {
	color: #666;
}

/* Theme Group Spindowns */
#themeroller .application .theme-group {
	margin: 1px 0;
	width: 210px;
}
#themeroller .application .theme-group-header {
	cursor: pointer;
	height: 12px;
	line-height: 12px;
	padding: .4em 0;

}
/* header states */
#themeroller .application .theme-group .theme-group-header.state-default { border: 1px solid #222/* borderColorDefault */; background: #111 url("images/themeroller/bg_tr_group_headers.png") 0 50% repeat-x; font-weight: normal; color: #aaaaaa/* fcDefault */ !important; }
#themeroller .application .theme-group .theme-group-header.state-default a { color: #aaaaaa/* fcDefault */; text-decoration: none; }
#themeroller .application .theme-group .theme-group-header.state-active { border: 1px solid #444/* borderColorActive */; border-bottom: 0 !important; background: #333 url("images/themeroller/bg_tr_group_headers_active.png") 0 50% repeat-x; font-weight: normal/* fwDefault */; color: #ffffff/* fcActive */ !important; outline: none; }
#themeroller .application .theme-group .theme-group-header.state-active a { color: #ffffff/* fcActive */; outline: none; text-decoration: none; }
#themeroller .application .theme-group .theme-group-content { border: 1px solid #444/* borderColorContent */;  background: #333 url("images/themeroller/bg_tr_group_headers_content.png") 0 0 repeat-x/* bgContentRepeat */; color: #ffffff/* fcContent */; }
#themeroller .application .theme-group .theme-group-header.state-hover { border: 1px solid #444/* borderColorHover */; background: #1a1a1a url("images/themeroller/bg_tr_group_headers_hover.png") 0  50% repeat-x; font-weight: normal/* fwDefault */; color: #cccccc/* fcHover */ !important; }
#themeroller .application .theme-group .theme-group-header.state-hover a { color: #cccccc/* fcHover */; text-decoration: none; }
#themeroller .arrow-icon {
	float: left;
	margin: -2px 3px 0 0;
	background-image: url("images/themeroller/tr_icons_white.png");
}
#themeroller .state-active .arrow-icon {
	margin: -1px 2px 0 1px !important;
}
#themeroller .icon-triangle-1-e { background-position: -32px -16px; }
#themeroller .icon-triangle-1-s { background-position: -64px -16px; }
#themeroller .state-preview {
	float: right;
	padding: 1px 2px 2px;
	font-size: 9px !important;
	font-weight: normal !important;
	margin: -2px 3px 0 0;
	height: 12px;
	line-height: 12px;
}


/* Theme Group Content */
#themeroller .application .theme-group-content {
	padding: 10px 5px 10px 23px;
	border-top: 0 !important;
}
#themeroller .application .theme-group-collapsed .theme-group-content {
	display: none;
}
#themeroller .application .theme-group h3 {
	font-size: .8em;
	font-weight: bold;
	text-transform: uppercase;
}

/* form field groups */
#themeroller .application .field-group {
	float: left;
	width: 53px;
	margin: 10px 4px 0 0;
}
#themeroller #global-font .field-group,
#themeroller #global-corners .field-group,
#themeroller .application .field-group-background,
#themeroller .application .field-group-opacity,
#themeroller #Shadow .field-group {
	margin: 4px 0 0;
	clear: both;
	float: none;
	width: auto;
}
#themeroller .application .field-group-border,
#themeroller .application .field-group-opacity,
#themeroller .application .field-group-corners {
	clear: left;
}

/* form labels */
#themeroller .application .field-group label {
	font-size: 1em;
	margin: 6px 0 5px;
	display: block;
}
#themeroller #global-font .field-group label,
#themeroller #global-corners .field-group label,
#themeroller .application .field-group-opacity label,
#themeroller #Shadow .field-group label,
#themeroller #Shadow .field-group-opacity label {
	float: left;
	width: 60px;
	margin: 0 4px 0 0;
	text-align: right;
}
#themeroller #global-font .field-group label {
	width: 35px;
}
#themeroller #Shadow .field-group label {
	width: 100px;
}
#themeroller .application .field-group-opacity label {
	width: auto;
	text-align: left;
}
#themeroller #Shadow .field-group-background label {
	 float: none;
	 width: auto;
	 text-align: left;
	 padding-bottom: 5px;
}


/* form inputs/selects */
#themeroller .application input,
#themeroller .application select {
	border: 1px solid #666;
	background: #333;
	color: #fff;
	font-size: 1em;
	padding: 2px;
	vertical-align: top;
}
#themeroller .application input.state-error,
#themeroller .application select.state-error {
	border: 1px solid #CD0A0A;
}
#themeroller .application select {
	padding: 1px;
}
input.opacity, input.offset {
	width: 25px;
	float: left;
}
span.opacity-per {
	float: left;
	padding: 0 .2em;
}
#themeroller .application input.hex {
	width: 46px;
	outline: 0;
}
input#ffDefault, select#fwDefault {
	width: 120px;
}
input.cornerRadius {
	width: 25px;
}
input.fsDefault{
	width: 35px;
}
/*demoOptions*/
#demo-options {
	clear: both;
	font-family: Verdana, Arial, sans-serif;
	margin: 2em 0 1em;
	padding-left: 12px;
	padding-top: 12px;
}
#demo-options > input {
	display: block;
	float: left;
}
#demo-options > label {
	display: block;
	line-height: 15px;
}


/* Custom form elements */
#themeroller .application div.hasPicker {
	position: static;
	width: 52px;
	padding: 1px;
	margin: -2px 0 0 -2px;
	border: 1px solid #333;
	float: left;
}
#themeroller .application div.picker-on {
	background: #666;
	border-color: #aaa;
	border-bottom: #666;
}
/* pickers */
#picker {
	position: absolute;
	left: 0;
	top: auto;
	width: 200px;
}
/* Texture Picker menus */
.texturePicker {
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 4px 0;
	border: 1px solid #666;
}
.texturePicker a {
	width: 18px;
	height: 18px;
	display: block;
	cursor: pointer;
}
.texturePicker ul {
	width: 80px;
	margin: 0;
	padding: .5em 5px;
	list-style: none;
	position: absolute;
	top: 1.6em;
	right: 0;
	background: #222;
	z-index: 999999;
	border: 1px solid #444;
	border-top: 0;
}
.texturePicker ul li {
	float: left;
	width: 20px;
	margin: 0;
	padding: 0;
}
.texturePicker ul li a {
	color: #eee;
	text-decoration: none;
	display: block;
	text-indent: -99999px;
	border: 1px solid #222;
	height: 1.5em;
}
.texturePicker ul li a:hover {
	border: 1px solid #ccc;
}
.texturePicker ul li a:active {
	border: 1px solid #eeeeee;
	outline: 0 !important;
}


/* rounded corner warnings */
a.cornerWarning { color: red !important; text-decoration: none; }
#cornerWarning {font-size: .9em; margin: 5px 0;}
#cornerWarning * {
	color: #fff;
}


/* Farbtastic overrides */
.farbtastic {
	background: #555;
	border: 1px solid #aaa;
	top: 1px;
	left: 0;
	z-index: 99999999;
}
.farbtastic .wheel {
	background-image: url("images/farbtastic/wheel.png");
}
.farbtastic .overlay {
	background-image: url("images/farbtastic/mask.png");
}
.farbtastic .marker {
	background-image: url("images/farbtastic/marker.png");
}


/* NON_JS Submit Button */
#submitBtn {
	background: #000000;
	color: #fff;
	text-decoration: none;
	border: 1px solid #444;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.1em;
	padding: .4em 10px;
	font-family: Verdana, Arial, sans-serif;
}
#submitBtn:hover {
	background: #0D0D0D;
}


#themeGallery ul {
	margin: 0;
	padding: 0;
}
#themeGallery li {
	float: left;
	width: 96px;
	color: #fff;
	font-size: 1em;
	margin: .8em 5px .8em 0;
	padding: 0;
	list-style: none;
}
#themeGallery li a {
	color: #888;
	text-decoration: none;
	position: relative;
}
#themeGallery li a:hover {
	color: #fff;
}
#themeGallery li img {
	width: 90px;
	height: auto;
	display: block;
	padding-top:3px;
	border:0;
	border-top: 2px solid #000;
	position: relative;
}
#themeGallery li a:hover img {
	border-top: 2px solid #ccc;
}
#themeGallery li a:active img {
	border-top: 2px solid #f58809;
}
#themeGallery li span {
	display: block;
	margin: .1em 4px;
}
#themeGallery li span.themeName {
	font-weight: normal;
}
#themeGallery li span.themeDesiger {
	font-size: .9em;
}
#themeGallery a.download, #themeGallery a.edit {
	font-size: .9em;
	text-decoration: none !important;
	float: left;
	background: #333 url("images/themeroller/bg_sml_download_edit_btn.png") repeat-x scroll 50% 50% ;
	margin: 3px 4px 0 0;
	padding: 2px 4px;
	border: 1px solid #222;
	color: #ccc;

}
#themeGallery a.download:hover, #themeGallery a.edit:hover {
	background: #444 url("images/themeroller/bg_sml_download_edit_btn_hover.png") repeat-x scroll 50% 50%;
	color: #ddd;
}


/* help tab */
#help h2 {
	font-size: 1.2em;
	margin: 1em 0 .3em;
}
#help a {
	color: #fa9300;
}
#help span.icon {
	float: left;
	background-image: url("images/themeroller/tr_icons_orange.png");
	height: 13px;
	width: 14px;
	margin: -1px 4px 0 0;
}
#help p {
	font-size: 1.1em;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.clearfix:after {
	clear: both;
}
