{{#each categories}}
	<div class="ui-widget ui-widget-content component-group clearfix">
		<div class="component-group-desc">
			<h3>{{name}}</h3>
			<p>{{description}}</p>
		</div>
		<div class="component-group-list">
		{{#each components}}
			<div class="clearfix">
				<input id="{{name}}" type="checkbox" checked name="{{name}}" class="ui-widget-content" data-dependencies="{{dependencies}}">
				<label for="{{name}}" title="{{description}}" class="clearfix">
					<span class="component-title">{{title}}</span>
					<span class="component-desc">{{description}}</span>
				</label>
			</div>
		{{/each}}
		</div>
	</div>
{{/each}}
