<link rel="stylesheet" href="http://code.jquery.com/ui/{{resources.jqueryuiVersion}}/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/download.css">
<div id="download-builder" data-base-vars="{{baseVars}}" data-download-jqueryui-host="{{host}}">
	<p class="bundle-links">
		<strong>Quick downloads:</strong>  
		{{#join releases " | "}}
			<a class="download-link" href="/resources/download/jquery-ui-{{this.pkg.version}}.custom.zip">{{this.label}}</a> (<a href="/resources/download/jquery-ui-themes-{{this.pkg.version}}.zip">Themes</a>) ({{this.pkg.version}}: <em>for {{this.dependsOn}}</em>)
		{{/join}}
		<br>
		<a class="download-link" href="/download/all">All jQuery UI Downloads</a>
	</p>
	<form action="{{host}}/download" method="POST">
		<div class="download-builder-header version-area">
			<h2>Version</h2>
			{{#each releases}}
				<div class="field-pair">
					<label class="clearfix">
						<input type="radio" id="version-{{this.pkg.version}}" value="{{this.pkg.version}}" name="version"{{{isVersionChecked this}}}>
						<span class="version-title">{{this.pkg.version}}</span>
						<span class="version-label">({{this.label}}, for {{this.dependsOn}})</span>
					</label>
				</div>
			{{/each}}
		</div>
		<div class="download-builder-header">
			<h2>Components</h2>
		</div>
		<div class="components-area">{{{components}}}</div>
		<div class="download-builder-header">
			<h2>Theme</h2>
			<div class="theme-area"></div>
		</div>
		<input type="submit" class="ui-widget-content" value="Download">
	</form>
</div>

<script src="http://code.jquery.com/ui/{{resources.jqueryuiVersion}}/jquery-ui.min.js"></script>
<script src="/resources/external/event_emitter.min.js"></script>
<script src="/resources/external/lzma.js"></script>
<script src="/resources/hash.js"></script>
<script src="/resources/querystring.js"></script>
<script src="/resources/model.js"></script>
<script src="/resources/download.js"></script>
