<div class="download-builder-header ui-widget">
	<div style="padding: 1em;" class="ui-state-error ui-corner-all">
	  <h2>Service status</h2>
	  <p>Currently unavailable. <a href="https://github.com/jquery/download.jqueryui.com/issues/172">Check or report issues here</a></p>
	  <div class="summary" style="font-size: 0.95">
		  <a href="#">Show details</a>
	  </div>
	  <div class="detail" style="font-size: 0.95">
		  <a href="3">Hide details</a>
		  <p>{{status}} {{statusText}}</p>
		  <pre>{{{responseText}}}</pre>
	  </div>
	</div>
</div>
