name: CI

on:
  pull_request:
  push:
    branches-ignore: "dependabot/**"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Node.js 18 is required by jqueryui.com
        # Remember to include the version used in Dockerfile!
        NODE_VERSION: [18.x, 20.x, 22.x, 24.x]
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Update apt-get cache
      run: sudo apt-get update

    - name: Install xsltproc
      run: sudo apt-get install -y xsltproc

    # When Ubuntu Plucky is available in GitHub Actions, switch to it, remove
    # the following section and just install the `imagemagick` package normally
    # via apt-get.
    - name: Download and build ImageMagick 7
      run: |
        sudo apt-get install -y build-essential pkg-config \
            libjpeg-dev libpng-dev libtiff-dev libwebp-dev

        # Replace the version below with the desired release
        IM_VERSION="7.1.1-44"
        wget https://download.imagemagick.org/ImageMagick/download/releases/ImageMagick-${IM_VERSION}.tar.xz
        tar -xf ImageMagick-${IM_VERSION}.tar.xz
        cd ImageMagick-${IM_VERSION}

        ./configure
        make -j$(nproc)
        sudo make install
        sudo ldconfig

    - name: Use Node.js ${{ matrix.NODE_VERSION }}
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: ${{ matrix.NODE_VERSION }}
        cache: npm
        cache-dependency-path: '**/package-lock.json'

    - name: Install dependencies
      run: npm ci

    - name: Prepare for tests
      run: ./node_modules/.bin/grunt prepare

    - name: Run tests
      run: npm test
