name: CI

on:
  pull_request:
  push:
    branches-ignore: "dependabot/**"

jobs:
  build:
    # Update it to `ubuntu-latest` only when:
    # - our infra is on Debian >=13 which has ImageMagick 7
    # - `ubuntu-latest` resolves to v26.x which has ImageMagick 7
    # When doing that, also update the `convert` command to `magick`.
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        # Node.js 18 is required by jqueryui.com
        # Remember to include the version used in Dockerfile!
        NODE_VERSION: [18.x, 20.x, 22.x, 24.x]
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Update apt-get cache
      run: sudo apt-get update

    - name: Install xsltproc & ImageMagick 6
      run: sudo apt-get install -y xsltproc imagemagick

    - name: Use Node.js ${{ matrix.NODE_VERSION }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: ${{ matrix.NODE_VERSION }}
        cache: npm
        cache-dependency-path: '**/package-lock.json'

    - name: Install dependencies
      run: npm ci

    - name: Prepare for tests
      run: ./node_modules/.bin/grunt prepare

    - name: Run tests
      run: npm test
