name: CI

on:
  pull_request:
  push:
    branches-ignore: "dependabot/**"

jobs:
  build:
    # Update it to `ubuntu-latest` only when:
    # - our infra is on Debian >= 13 which has ImageMagick 7
    # - `ubuntu-latest` resolves to v26.x which has ImageMagick 7
    # When doing that, also update `imagemagick6` to `imagemagick
    # in Dockerfile and the `convert` command to `magick`.
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        # Node.js 18 is required by jqueryui.com
        # Remember to include the version used in Dockerfile!
        NODE_VERSION: [18.x, 20.x, 22.x, 24.x]
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Update apt-get cache
      run: sudo apt-get update

    - name: Install xsltproc & ImageMagick 6
      run: sudo apt-get install -y xsltproc imagemagick

    - name: Use Node.js ${{ matrix.NODE_VERSION }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: ${{ matrix.NODE_VERSION }}
        cache: npm
        cache-dependency-path: '**/package-lock.json'

    - name: Install dependencies
      run: npm ci

    - name: Prepare for tests
      run: ./node_modules/.bin/grunt prepare

    - name: Run tests
      run: npm test
